additional_analyses/function_analysis/.text.x = element_blank(),
additional_analyses/function_analysis/PROKKA_48118-contigInfo.csv
additional_analyses/function_analysis/detailed_function_analysis.R~
additional_analyses/function_analysis/expression.Rdat
additional_analyses/function_analysis/expression_figure.aux
additional_analyses/function_analysis/expression_figure.log
additional_analyses/function_analysis/expression_figure.pdf
additional_analyses/function_analysis/expression_figure.synctex.gz
additional_analyses/function_analysis/expression_figure.tex
additional_analyses/function_analysis/expression_figure.tex.project.vim
additional_analyses/function_analysis/expression_figure.tex~
additional_analyses/function_analysis/expression_figure_aux
additional_analyses/function_analysis/function_analysis.R~
additional_analyses/function_analysis/function_analysis_summary.R
additional_analyses/function_analysis/function_analysis_summary.R~
additional_analyses/preprocessing/IMP_preprocessing.ods
additional_analyses/preprocessing/MG_preprocessing.txt
additional_analyses/preprocessing/MG_preprocessing_edited.csv
additional_analyses/preprocessing/MG_preprocessing_edited.xlsx
additional_analyses/preprocessing/MT_preprocessing.txt
additional_analyses/preprocessing/MT_preprocessing_edited.csv
additional_analyses/preprocessing/MT_preprocessing_edited.xlsx
additional_analyses/preprocessing/metAmos_preprocessing.xlsx
additional_analyses/preprocessing/preprocessing.xlsx
additional_analyses/preprocessing/preprocessing.xlsz.ods
additional_analyses/preprocessing/preprocessing_analysis.R~
additional_analyses/preprocessing/preprocessing_analysis.R~
metaquast_analysis/*.stdout
metaquast_analysis/*.stderr
iterative_assembly/MT_assembly/*.stderr
iterative_assembly/MT_assembly/*.stdout
iterative_assembly/MG_assembly/*.stderr
iterative_assembly/MG_assembly/*.stdout
iterative_assembly/*/*~
additional_analyses/single_omicVsIntegrated/metAmos/*.stderr
additional_analyses/single_omicVsIntegrated/metAmos/*.stdout
additional_analyses/single_omicVsIntegrated/MOCAT/*.stderr
additional_analyses/single_omicVsIntegrated/MOCAT/*.stdout
additional_analyses/single_omicVsIntegrated/IMP/*.stderr
additional_analyses/single_omicVsIntegrated/IMP/*.stdout
additional_analyses/*/*.stderr
additional_analyses/*/*.stdout
additional_analyses/*/*~
additional_analyses/*/*/*~
additional_analyses/*/*.tsv
additional_analyses/*/*/.snakemake/
metaquast_analysis/*~
prodigal_analysis/*~
.gitignore~
.gitignore.swp
additional_analyses/HMP_gene_catalog/.snakemake/
additional_analyses/HMP_gene_catalog/config_mapping.json
additional_analyses/HMP_gene_catalog/index_IGC.sh
additional_analyses/HMP_gene_catalog/launcher.sh
additional_analyses/HMP_gene_catalog/map_IMP.rules
additional_analyses/HMP_gene_catalog/map_MOCAT.rules
additional_analyses/HMP_gene_catalog/map_metAmos.rules
additional_analyses/HMP_gene_catalog/preload_modules.sh
additional_analyses/HMP_gene_catalog/test.sh
additional_analyses/MT_genomes/A02_MT_contigs.ids
additional_analyses/MT_genomes/X310763260_MT_contigs.ids
additional_analyses/preprocessing/calculate_reads-MOCAT.sh
additional_analyses/preprocessing/calculate_reads-MetAmos.sh
additional_analyses/single_omicVsIntegrated/config_mapping.json
additional_analyses/single_omicVsIntegrated/preload_modules.sh
iterative_assembly/MG_assembly/.snakemake/
iterative_assembly/MG_assembly/execution.sh
iterative_assembly/MG_assembly/execution_D32.sh
iterative_assembly/MG_assembly/execution_D36.sh
iterative_assembly/MG_assembly/execution_D49.sh
iterative_assembly/MG_assembly/execution_PRJEB8813.sh
iterative_assembly/MG_assembly/execution_X311245214.sh
iterative_assembly/MG_assembly/execution_X316192082.sh
iterative_assembly/MG_assembly/execution_X316701492.sh
iterative_assembly/MG_assembly/execution_X317690558.sh
iterative_assembly/MG_assembly/execution_simDat_v2.sh
iterative_assembly/MT_assembly/.snakemake/
iterative_assembly/MT_assembly/collapsed_contig_gene_stats.tsv
iterative_assembly/MT_assembly/execution.sh
iterative_assembly/MT_assembly/launcher_back.sh
prodigal_analysis/oarlogs/
prodigal_analysis/prodigal_summary.tsv
quast_analysis/
additional_analyses/HMP_gene_catalog/IMP2IGC_mapping.txt
additional_analyses/HMP_gene_catalog/OARlogs/
