additional_analyses/function_analysis/.text.x = element_blank(),
additional_analyses/function_analysis/PROKKA_48118-contigInfo.csv
additional_analyses/function_analysis/detailed_function_analysis.R~
additional_analyses/function_analysis/expression.Rdat
additional_analyses/function_analysis/expression_figure.aux
additional_analyses/function_analysis/expression_figure.log
additional_analyses/function_analysis/expression_figure.pdf
additional_analyses/function_analysis/expression_figure.synctex.gz
additional_analyses/function_analysis/expression_figure.tex
additional_analyses/function_analysis/expression_figure.tex.project.vim
additional_analyses/function_analysis/expression_figure.tex~
additional_analyses/function_analysis/expression_figure_aux
additional_analyses/function_analysis/function_analysis.R~
additional_analyses/function_analysis/function_analysis_summary.R
additional_analyses/function_analysis/function_analysis_summary.R~
additional_analyses/preprocessing/IMP_preprocessing.ods
additional_analyses/preprocessing/MG_preprocessing.txt
additional_analyses/preprocessing/MG_preprocessing_edited.csv
additional_analyses/preprocessing/MG_preprocessing_edited.xlsx
additional_analyses/preprocessing/MT_preprocessing.txt
additional_analyses/preprocessing/MT_preprocessing_edited.csv
additional_analyses/preprocessing/MT_preprocessing_edited.xlsx
additional_analyses/preprocessing/metAmos_preprocessing.xlsx
additional_analyses/preprocessing/preprocessing.xlsx
additional_analyses/preprocessing/preprocessing.xlsz.ods
additional_analyses/preprocessing/preprocessing_analysis.R~
